.row
  .columns.small-12
    %h4= @quiz.title
  .columns.small-12{class: ("medium-6" if !user_signed_in?)}
    %p= @quiz.intro_content
  - if !user_signed_in?
    .columns.small-12.medium-6.panel.clearfix
      %h4 Get Started!
      = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "small-12 columns button"
      %hr
      .text-center
        %a{"data-slide-toggle": "sign-in-dropdown"}  I'd like to sign in with email
        #sign-in-dropdown{"data-slide": ""}
          = simple_form_for @user, wrapper: :horizontal_form,  url: simple_registration_path do |form|
            = form.input :email
            Maybe some kind of checkbox for receiving email
            = hidden_field_tag :quiz_id, @quiz.id
            = form.submit "Get Started", class: "button float-right"
  - else
    = link_to "Get Started", new_question_answer_path(@quiz.first_question), class: "button float-right"
