%h1= @question.body
= simple_form_for [@question, @answer] do |form|
  = form.association :choice, collection: @question.choices, as: :radio_buttons, label_method: :body, label: false
  - unless @previous_question_answer.nil?
    = link_to "Previous", edit_answer_path(@previous_question_answer), class: "button float-left"
  = form.submit "Next", class: "button float-right"
